header{
	text-align: center;
}
nav{
	height:70px;
	background-color:#00ace6;
	padding: 10px;

}

.navi{
	display:inline;
	padding:10px;
	list-style-type: none;
	background-color: #b30059;
	width:100px; 
	border-radius:10px;
	
}
.navi a{
	
	color:#ffffff;
}
.navi:hover{
	background-color:#595959;
	color:#00ff00;
}
.sectionDiv{
	margin:0 auto;
	width:1400px;
	height:auto;
}
.common{
	width:600px;
	height:700px;
	float:left;
	font-size: 16px;
	padding:10px;
}
.leftDiv{
	background-color:#b38600;
}
.rightDiv{
	background-color:#f89678;
}
footer{
	clear:both;
	background-color:#0959aa;
	padding:10px;
}
.frmUser{
	padding: 30px;

}
.frmUser .field label{
	display: inline-block;
	width:120px; 
	margin-left:5px;
}

.ftxt{
	width:300px;
	height:30px;
}

.bSub{
	width:100px;
	height:30px;
}

.bSub:hover{
	background-color: #f89678;
}
